@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-arrows[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .active-dot {
    position: relative;
    will-change: transform;
  }

  .active-dot::after {
    position: absolute;
    right: calc(50% - 3.5px);
    bottom: -9px;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: currentColor;
  }

  .dashboard-active {
    position: relative;
    will-change: transform;
  }

  .dashboard-active::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 6px;
    border-radius: 0px 30px 30px 0px;
    background: currentColor;
  }

  .underline-active {
    position: relative;
    will-change: transform;
  }

  .underline-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    background: #cd1f46;
    animation-name: underline-animation;
    animation-duration: 0.6s;
  }

  @media only screen and (min-width: 768px) {
    .underline-active::after {
      height: 4px;
    }
  }

  @keyframes underline-animation {
    from {
      left: 50%;
      width: 0;
    }
    to {
      left: 0;
      width: 100%;
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #051333;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.swiper-pagination-horizontal {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #cd1f46 !important;
  opacity: 1 !important;
  width: 24px !important;
  border-radius: 50px;
}

.swiper-pagination-bullet {
  background-color: #cd1f46;
  opacity: 0.12;
  height: 11px;
  width: 11px;
}

.white-pagination {
  background-color: #8d8d9f !important;
  opacity: 1;
}
.white-pagination-active {
  background-color: white !important;
}

.rectangle {
  border-radius: 54% 46% 41% 59% / 59% 47% 53% 41%;
}

/* Loading Progressbar */
.progress-bar-value {
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
/* END Loading Progressbar */
