@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
  .active-dot {
    position: relative;
    will-change: transform;
  }

  .active-dot::after {
    position: absolute;
    right: calc(50% - 3.5px);
    bottom: -5px;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: currentColor;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #051333;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
